NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="file:./database.sqlite"

# Security (para futuras implementaciones)
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d

MONGODB_API=mongodb+srv://luiscore200:luiscore200@cluster0.urgkhjo.mongodb.net/
MONGO_PERMISSIONS=?retryWrites=true&w=majority&appName=Cluster0

GROQ_API_KEY=gsk_z4C7rRrG540Dc8CKmOggWGdyb3F--YtzJo0uh6od8L15l32Y3OzBsc
GROQ_CHAT_MODEL=llama-3.3-70b-versatile
GROQ_EMBED_MODEL=nomic-embed-text-v1_5

OLLAMA_URL=http://localhost:11434
QDRANT_URL=http://localhost:6333

# Logging
LOG_LEVEL=debug

GROQ_API_KEY=gsk_z4C7rRrG540Dc8CKmOggWGdyb3F--YtzJo0uh6od8L15l32Y3OzBsc
GEMINI_CHAT_MODEL=gemini-2.0-flash
GEMINI_EMBED_MODEL=text-embedding-004
